.error-container {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-height: 100vh;
  overflow: hidden;

  margin: 50px;
}

.error-container h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;

  color: #ff6060;
}

.error-container h2 {
  padding: 0px 60px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;

  display: flex;
  align-items: flex-end;

  color: #ff6060;
}

.error-container a {
  margin-top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;

  display: flex;
  align-items: flex-end;

  color: #ff6060;
}

@media (max-width: 800px) {
  .error-container h1 {
    font-size: 30vw;
  }

  div.error-container h2 {
    font-size: 18px;
  }

  .error-container a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #ff6060;
  }
}
@media (max-width: 319px) {
  .error-container h1 {
    font-size: 30vw;
  }
}
