.banner {
  height: 15vw;
  display: flex;
  padding: 20px 260px 10px 260px;
  position: relative;

}

.banner::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  border-radius: 1.5vw;
  position: absolute;
}

.home-banner::before{
  background-image: url(./../../images/banner_home.jpg);
}

.banner-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 23px;
  font-family: "Montserrat";
}

@media screen and (max-width:768px) {

  .banner {
  padding: 10px 100px 10px 10px;
  margin: 0px 8px 0px 8px;

  }

  .banner-content {
    
    font-size: 12px;
    text-align: start;
  }
  
}