header{
  padding: 20px 60px 10px 60px;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  max-width: 35vw;
}

.header-links {
  max-width: 50vw;
  display: flex;
  gap: 3vw;
  
}

.header-links a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: black;

}

.header-links a.active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    padding: 20px 20px 10px 20px;
  }
  .header-links a {
    font-size: 12px;
    text-transform: uppercase;
  }
}




