header{
  padding: 5vh 7vw 0 7vw;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  max-width: 40vw;
}

.header-links {
  max-width: 50vw;
  display: flex;
  gap: 3vw;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 142.6%;
  white-space: nowrap;
  color: #ff6060;
}

.header-links a.active {
    text-decoration: underline;
}

@media (max-width: 768px) {
  header a {
    font-size: 3vw;
    text-transform: uppercase;
  }
}




